.container {
    background-color: #333333;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
}

.container span {
    margin: 10px 20px;
    font-size: 12px;
    color: #ccc;
    font-family: 'Helvetica';
}