.imageParagraph {
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
    width: 90vw;
    align-items: center;
    background-color: #f3f3f3;
}

.reverse {
    flex-flow: row-reverse;
}

.imageParagraph .imageHalf, .articleHalf {
    min-width: 45%;
    height: 100%;
}

.imageParagraph article {
    max-width: 70%;
    margin: 0 auto;
    letter-spacing: 0.2px;
}

.imageParagraph article h2 {
    text-transform: uppercase;
    font-size: 28;
    font-weight: lighter;
}

.imageHalf div, .imageHalf div div {
    width: 100%;
}