.container {
  height: 115px;
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container section {
  margin: 0 30px;
}

.logo img {
  width: 55px;
}

.logo span {
  font-size: 40px;
  margin-left: 20px;
  color: var(--logo-green);
}

.container .profileIcons svg {
  margin: 0 10px;
  width: 2em;
  height: 2em;
  color: var(--font-theme);
}

@media screen and (max-width: 415px) {
  .logo img {
    width: 35px;
  }

  .logo span {
    font-size: 27px;
    margin-left: 10px;
  }

  .container .profileIcons svg {
    margin: 0 10px;
    width: 1.5em;
    height: 1.5em;
    color: var(--font-theme);
  }
}
