.navigationBar {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    width: 480px;
}

.navigationBar li {
    padding: 14px 15px;
    list-style: none;
    width: fit-content;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #555
}
.navigationBar li:hover {
    border-bottom: 2px solid darkgray;
    cursor: pointer;
}

.navigationBar .active, .navigationBar .active:hover{
    border-bottom: 2px solid black;
}

.footer {
    margin: 30px;
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.footer li {
    margin: 0 25px;
    font-size: 16px;
    height: fit-content;
}

.footer li:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}